* {
  overflow: scroll;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  
  .logo {
    image-rendering: auto;
    float: left;
    display: block;
    height: 10vh;
    width: 10vw;
    /* object-fit: contain; */
  }
  
  html,
  body {
    height: 100vh;
    overflow: hidden;
  }
  h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
      color: white;
      padding-top: 40px;
      margin-left: 80px;
  }
  
  h2 {
    text-align: center;
    color: rgb(240,89,68);
    padding: 20px 0px 15px 0px;
  }
  
  .main-header,
  .main-footer {
    height: 80px;
    width: 100vw;
    background-color: #ffffff;
  }
  
  .logo-text {
    color: rgb(240,89,68);
    text-align: center;
    margin-left: 20px;
    display: block;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
  }
  
  .main-container {
    height: calc(100vh - 150px);
    width: 100vw;
    margin: 0px auto;
  }
  .pic-container {
    height: 100%;
    float: left;
    margin-right: 20px;
  }
  
  .pic-container>img {
    object-fit: cover;
    display: block;
    width: 190px;
    margin: 10px;
  }
  .product-stage {
      background-color: rgb(75,129,113);
      display: block;
      height: 80vh;
      width: 100vw;
  }
  .reg_coffee {
    float: left;
      margin-left: 30px;
      margin-bottom: 30px;
      margin-top: 30px;
      height: 330px;
      width: 270px;
  }
  .description {
      margin-right: 20px;
      padding-top: 40px;
      padding-right: 50px;
      float: right;
  }
  p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
      padding: 10px;
      color: white;
  }
  .button {
    background-color:rgb(240,89,68);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .footer-text {
    text-align: center;
    display: block;
    padding: 20px;
  }