* {
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  
  .logo {
    image-rendering: auto;
    float: left;
    display: block;
    height: auto;
    width: 11vw;
  }
  
  html,
  body {
    height: 100vh;
    
  }
  
  h2 {
    text-align: center;
    color: rgb(240,89,68);
    padding: 20px 0px 15px 0px;
  }
  h3 {
    margin-left: 93px;
    width: 200px;
    background-color: rgb(75,129,113);
    color:#FFFFFF;
  }
  
  .product_header {
    background-color: rgb(75,129,113);
  }
  
  p {
    color: #FFFFFF;
    padding-left: 25px;
    margin: 10px 0px;
  }
  
  a {
    text-decoration: none;
    font-weight: bold;
  }
  
  .box-shadow {
    -webkit-box-shadow: 0px 1px 9px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 9px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 9px -1px rgba(0, 0, 0, 0.75);
  }
  
  .grow {
    transition: all .2s ease-in-out;
  }
  
  .grow:hover {
    transform: scale(1.1);
  }
  
  
  .main-header {
    height: 80px;
    width: 100vw;
    background-color: #ffffff;
  }
  .main-footer {
    height: 10px;
    width: auto;
    background-color: #ffffff;
  }
  
  .logo-text {
    color: rgb(240,89,68);
    text-align: center;
    margin-left: 20px;
    display: block;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
  }
  
  .main-container {
    height: calc(100vh - 150px);
    margin: 0px auto;
    overflow: auto;
  }
  .top-section {
    width: 1250px;
    background-color: rgb(75,129,113);
    height: 210px;
    margin: 10px 10px;
    overflow: hidden;
  }
  .contact-info {
    width: 1000px;
    margin: 10px 10px 20px 75px;
    overflow: inherit;
  }
  /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: rgb(240,89,68);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: rgb(241, 62, 38);
  }
  
  /* Add a background color and some padding around the form */
  .contact-info {
    border-radius: 15px;
    background-color: rgb(75,129,113);
    padding: 30px;
  }
  
  .top-inner-section {
    overflow: auto;
  }
  .icons {
    margin-left: 400px;
  }
  /* Style all font awesome icons */
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  /* Instagram */
  .fa-instagram {
    background: #d40051;
    color: white;
  }
  /* SnapChat */
   .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  .bottom-section {
    width: 100%;
    height: 70%;
    background-color: #f1f1f1;
  }
  .description {
    font-family: 'Roboto Slab', serif;
  }
  
  .gallery {
    height: auto;
    padding: 0px 1em;
  }
  .gallery-container {
    grid-gap: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
  }
  
  .gallery-container>li {
    display: inline-block;
    margin: 10px;
  }
  
  .gallery-container>li>img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  .footer-text {
    text-align: center;
    display: block;
    padding-top: 15px;
  }